---
import AppleLogo from "./logos/apple.svg";
import F45Logo from "./logos/f45.svg";
import PTCLogo from "./logos/ptc.svg";
import AvionLogo from "./logos/tequila-avion.svg";
import OTFLogo from "./logos/otf.svg";
import JourneyLogo from "./logos/journey.svg";
import ChicoryLogo from "./logos/chicory.svg";
import WelcomeLogo from "./logos/welcome.svg";
import SALogo from "./logos/sourced-adventures.svg";

import "./client-grid.css";
---

<div class="client-grid">
  <div class="client-logo">
    <a target="_blank" href="https://www.apple.com"><img src={AppleLogo.src} alt="Apple" /></a>
  </div>
  <div class="client-logo">
    <a href="https://tequilaavion.com"><img src={AvionLogo.src} alt="Tequila Avión" /></a>
  </div>
  <div class="client-logo">
    <a href="https://www.ptc.com/en/products/vuforia"><img src={PTCLogo.src} alt="PTC (Vuforia)" /></a>
  </div>
  <div class="client-logo">
    <a href="https://f45training.com"><img src={F45Logo.src} alt="Functional 45 (F45)" /></a>
  </div>
  <div class="client-logo">
    <a href="https://www.orangetheory.com"><img src={OTFLogo.src} alt="Orangetheory Fitness" /></a>
  </div>
  <div class="client-logo">
    <a href="https://www.sourcedadventures.com"><img src={SALogo.src} alt="Sourced Adventures" /></a>
  </div>
  <div class="client-logo">
    <a href="https://journey.live"><img src={JourneyLogo.src} alt="Journey" /></a>
  </div>
  <div class="client-logo">
    <a href="https://www.chicory.co"><img src={ChicoryLogo.src} alt="Chicory" /></a>
  </div>
  <div class="client-logo">
    <a href="https://www.experiencewelcome.com"><img src={WelcomeLogo.src} alt="Welcome" /></a>
  </div>
</div>
